.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 48px;
  color: #143b51;
}

.button {
  padding: 10px;
  margin: 10px 4px;
  border: none;
  border-radius: 4px;
  background-color: #e6ebed;
}
.button:hover {
  background-color: #1a9bac;
  color: white;
}

.right {
  float: right;
}

.clickable {
  cursor: pointer;
}

.fullscreen {
  height: 100%;
  width: 100%;
}

.module {
  position: fixed;
  width: 100%;
  height: 100%;
}

.font {
  font-family: "Oxygen", sans-serif;
}

.linebreak {
  margin-top: 20px;
}

.break {
  margin-top: 20px;
}

.sectionColored {
  background-color: #e6ebed;
}

.sectionBordered {
  border-radius: 4px;
  border: 1px solid #f0f3f4;
}

.listItem {
  box-sizing: border-box;
  background-color: inherit;
  color: #143b51;
  border: 1px solid #143b51;
  padding: 12px;
}
.listItem.listItemActive {
  background-color: #e6ebed;
}

/*
=======================Flex and Alignment=========================
*/
.flex {
  display: flex;
  justify-content: left;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

/*
=======================Buttons=========================
*/
.button {
  padding: 10px;
  margin: 10px 4px;
  border: none;
  border-radius: 4px;
  background-color: #e6ebed;
}
.button:hover {
  background-color: #1a9bac;
  color: white;
}
.button.buttonOutline {
  background-color: white;
  border: 1px solid #143b51;
  color: #143b51;
}
.button.buttonOutline:hover {
  background-color: #143b51;
  color: white;
}

.badge {
  background-color: #ef476f;
  color: white;
}

.txt,
.field,
.select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 12px 12px;
  background-color: #e6ebed;
  border: none;
  border-radius: 4px;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.txt:focus,
.field:focus,
.select:focus {
  border: 1px solid #1a9bac;
  box-shadow: 10px, 10px, 30px, #000;
}
.txt:hover,
.field:hover,
.select:hover {
  box-shadow: 10px, 10px, 30px, #000;
}

.field {
  padding: 0px;
}

.select {
  font-size: 16px;
  padding: 8px;
}

.alert {
  padding: 12px;
  border: 1px solid #feb74c;
  background-color: rgba(254, 183, 76, 0.1);
  color: #feb74c;
  border-radius: 4px;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 16px;
  color: #707070;
  text-align: left;
}

.wave {
  position: fixed;
  height: 100%;
  width: 100%;
  background: url("resources/images/wave.svg") no-repeat center center;
  background-size: cover;
  background-color: #143b51;
}

.title {
  position: inline-block;
  text-align: center;
  font-size: 32px;
  margin-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
}

.flex {
  justify-content: left;
  align-content: flex-start;
}

.flexCol {
  align-content: center;
  padding-left: 12px;
  justify-items: center;
  justify-content: center;
}

.logo {
  position: fixed;
  display: inline-block;
  height: 70px;
  width: auto;
  top: 30px;
  left: 40px;
  filter: brightness(0) invert(1);
}

.card {
  padding: 40px 45px 30px 45px;
  box-shadow: 0px, 3px, 18px, #000;
}

.background {
  background-color: #143b51;
  width: 100%;
  height: 100%;
}

.txt,
.field,
.select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 12px 18px;
  background-color: #e6ebed;
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 45px;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.txt:focus,
.field:focus,
.select:focus {
  border: 1px solid #1a9bac;
  box-shadow: 10px, 10px, 30px, #000;
}
.txt:hover,
.field:hover,
.select:hover {
  box-shadow: 10px, 10px, 30px, #000;
}

.submit {
  width: 100%;
  color: #ffffff;
  background-color: #1bb494;
  border: none;
  border-radius: 20px;
  padding: 12px;
}

.remember {
  float: left;
  clear: both;
}

.rememberChk {
  margin-right: 10px;
}

.option {
  float: right;
  clear: both;
  margin-top: -35px;
  margin-bottom: 20px;
}

.lbl,
.remember,
.option {
  color: #9ca1a4;
  font-size: 15px;
}

form label,
form input {
  float: left;
  clear: both;
}

p {
  float: left;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
